@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-hero {
  border-radius: 10%;
}

.landing-hero {
  height: 100vh;
}

.landing-hero .img {
  width: 50%;
  aspect-ratio: 1;
}

.name-hero {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
  letter-spacing: 2rem;
  margin-left: 1em;
  opacity: 0;
}

.footer {
  padding-top: 200px;
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4em;
  color: white;
  opacity: 0;
}

.main {
  width: 100vw;
  height: 150vh;
  flex-direction: column;
}

.row {
  position: relative;
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
  z-index: 1;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
  will-change: transform;
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  word-wrap: break-word;
  margin: 0.5em 0;
  width: 100%;
  max-width: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.line p {
  position: relative;
  font-size: 24px;
  text-align: center;
  transform: translateY(30px);
}

button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(0px);
  opacity: 0;
  z-index: 3;
  pointer-events: auto;
}

button a {
  color: #fff;
  text-decoration: none;
  z-index: 4;
}

/* Responsive 📱 */

@media (max-width: 990px) {
  .card {
    max-width: 990px;
    width: 50%;
    height: 240px;
  }

  .name-hero {
    display: none;
  }

  .img-hero {
    border-radius: 0%;
  }

  .line {
    width: 100%;
  }

  .footer a {
    font-size: 2em;
    text-align: center;
  }
}
